<style>
    footer {
        background-color: #333;
        padding: 20px;
        font-size: 14px;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        text-align: center;
        background-image: linear-gradient(to right, #ff512f 0%, #dd2476 51%, #ff512f 100%);
        background-size: 200% auto;
        transition: all 0.3s ease-in-out;
        border-radius: 10px;
    }
    
    footer:hover {
        background-position: right center;
    }
    
    footer p {
        margin: 0;
    }
    
    footer a {
        color: #f4f4f4;
        text-decoration: none;
        border-bottom: 2px solid transparent;
        transition: border-bottom 0.2s ease-in-out;
    }
    
    footer a:hover {
        border-bottom: 2px solid #f08a5d;
    }
</style>

<footer>
     
    
    <div>
    <p class="text-sm text-slate">
        <span class="pr-1">Made by </span>
        <a href="https://github.com/Thek28" target="_blank">
            小团子
        </a>
        <span class="px-1">|</span>
        <a href="https://github.com/Thek28/Ada" target="_blank">
            [因为风吹过，爱肆起]
        </a>
    </p>
        

    </div>
    
</footer>



