---
import Logo from "./icons/logo2.gif";
---

<header>
  <div class="flex items-center mt-2">
    <img mr-1 w-18 src={Logo} />
    <span class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-pink-400 to-blue-600">CharGPT</span>
    <span class="text-2xl text-transparent font-extrabold bg-clip-text bg-gradient-to-r from-sky-400 to-emerald-600">小团子</span>
  </div>
<style>
    p {
        margin-top: 0.0rem;
        opacity: 0.8;
        font-size: 16px;
        font-weight: bold;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        color: #fff;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 2.5px;
        line-height: 1.5;
        border-radius: 25px;
        padding: 1px;
        background: linear-gradient(to right, #f8049c, #fc4d30, #f8d030, #eae863, #6dc7be, #54c9e8, #2b91c7, #2d3445);
        background-size: 200% auto;
        transition: all 0.3s ease-in-out;
    }
    
    p:hover {
        background-position: right center;
    }
    
    /* 响应式布局 */
    @media only screen and (max-width: 600px) {
        p {
            font-size: 16px;
            padding: 0px;
        }
    }
</style>
<p>你要悄悄拔尖，然后惊艳所有人 </p>
</header>
